name: QA Checks

on:
  workflow_call:
    secrets:
      UNIQUES_GITHUB_ACCESS_TOKEN:
        description: 'Access token for cloning Uniques private repositories from GitHub'
        required: true
      NODE_AUTH_TOKEN:
        description: 'Access token for authentication with the NPM registry'
        required: false
    inputs:
      setup_cmd:
        description: 'Command to run to set up environment before the QA checks execution'
        required: false
        default: ''
        type: string
      use_db:
        description: 'Whether a database is needed (for example for unit tests)'
        required: false
        default: false
        type: boolean
      mysql_version:
        description: 'Version of MySQL to set up'
        required: false
        default: "8.0"
        type: string
      mysql_config:
        description: 'MySQL config to apply (syntax similar to my.cnf)'
        required: false
        default: ""
        type: string
      db_dump_path:
        description: 'Path to the DB dump file - ignored if `use_db` is not set to `true`'
        required: false
        type: string
      db_migration_cmd:
        description: 'Migration cmd for the DB - will execute before running unit tests'
        required: false
        type: string
        default: ''
      env_variables:
        description: 'JSON string representing an object with environment variables to set up an environment'
        required: false
        default: '{}'
        type: string

jobs:
  matrix:
    name: Get CI job matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get QA matrix
        id: matrix
        uses: uniquesca/ci/qa-ci-matrix@main

  qa:
    name: Run QA checks
    needs: [ matrix ]
    runs-on: ${{ matrix.setup.os }}
    env:
      phpunit: 0
      composer: 0
      npm: 0
    strategy:
      fail-fast: false
      matrix:
        setup: ${{ fromJSON(needs.matrix.outputs.matrix) }}
    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.setup.php.version }}
          extensions: ${{ matrix.setup.php.extensions }}
          ini-values: xdebug.mode="coverage"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run setup cmd (if specified)
        run: ${{ inputs.setup_cmd }}

      - name: Check if we have PHPUnit
        run: |
          if [[ -f "phpunit.xml" ]] || [[ -f "phpunit.xml.dist" ]]; then
            echo "phpunit=1" >> $GITHUB_ENV
          else
            echo "No PHPUnit configuration file found, skipping tests."
          fi

      - name: Prepare environment variables
        id: merge_environment_vars
        uses: uniquesca/ci/merge-environment-variables@main
        with:
          variables1: ${{ inputs.env_variables }}
          variables2: '{"db.dbname":"phpunit","db.username":"root","db.password":"root","db.host":"127.0.0.1","db.port":"3306"}'

      - name: Set up environment
        uses: uniquesca/ci/prepare-environment@feature/fix-prep-env
        with:
          env_variables: ${{ steps.merge_environment_vars.outputs.variables }}

      - name: Prepare Composer cmd
        id: prep-composer-cmd
        run: |
          composer_cmd="composer install --no-scripts"
          lock_file="composer.lock"
          if [[ "${{ matrix.setup.locked }}" == "false"  ]]; then
            if [[ -f "composer.${{ matrix.setup.php.version }}.lock" ]]; then
              # We have an alternative lock file, so we are just going to use it
              echo "Alternative Composer lock file $alt_lock_file found"
              lock_file="composer.${{ matrix.setup.php.version }}.lock"
            else
              echo "Alternative Composer lock file $alt_lock_file not found, will run composer update"
              composer_cmd="composer update --no-scripts"
            fi
          fi
          echo "lock_file=$lock_file" >> $GITHUB_OUTPUT
          echo "cmd=$composer_cmd" >> $GITHUB_OUTPUT

      - name: Install dependencies
        uses: uniquesca/ci/install-packages@main
        with:
          access_token: ${{ secrets.UNIQUES_GITHUB_ACCESS_TOKEN }}
          composer_cmd: ${{ steps.prep-composer-cmd.outputs.cmd }}
          composer_lock: ${{ steps.prep-composer-cmd.outputs.lock_file }}

      - name: Set up MySQL
        if: inputs.use_db == true && env.phpunit == 1
        uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: ${{ inputs.mysql_version }}
          my-cnf: ${{ inputs.mysql_config }}
          root-password: 'root'
          auto-start: true

      - name: Start MySQL and create a database
        if: inputs.use_db == true && env.phpunit == 1
        run: mysql -uroot -proot -h127.0.0.1 -e 'CREATE DATABASE phpunit;'

      - name: Import database dump
        if: inputs.use_db == true && env.phpunit == 1
        uses: uniquesca/ci/mysql-import@main
        with:
          dump_file_path: ${{ inputs.db_dump_path }}
          db_name: 'phpunit'

      - name: Run DB migration
        if: inputs.use_db == true && env.phpunit == 1
        run: ${{ inputs.db_migration_cmd }}

      - name: Run PHPUnit
        if: env.phpunit == 1
        run: php ./vendor/bin/phpunit --configuration phpunit.xml

      - name: Generate coverage badge
        if: ${{ env.phpunit == 1 && github.event_name == 'pull_request' && inputs.generate_coverage_badge == true }}
        uses: timkrase/phpunit-coverage-badge@v1.2.1
        with:
          coverage_badge_path: ${{ inputs.coverage_badge_file }}
          push_badge: true
          repo_token: ${{ secrets.UNIQUES_GITHUB_ACCESS_TOKEN }}

      - name: Run PHP Codesniffer
        run: |
          if [[ -f "phpcs.xml" ]] || [[ -f "phpcs.xml.dist" ]]; then
            ./vendor/bin/phpcs
          else
            echo "No PHP_Codesniffer configuration file found, skipping code check."
          fi

      - name: Run Psalm
        run: |
          if [[ -f "psalm.xml" ]]; then
            ./vendor/bin/psalm
          elif [[ -f "psalm.xml.dist" ]]; then
            ./vendor/bin/psalm --config=psalm.xml.dist
          else
            echo "No Psalm configuration file found, skipping code check."
          fi

      - name: Run TSLint
        if: env.npm == 1 || env.yarn == 1
        run: |
          if [ -f "tslint.json" ]; then
            npm run lint
          else
            echo "No TSLint configuration file found, skipping code check."
          fi
